/* General */

html,
body {
    margin: 0;
    height: 100%;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../assets/fonts/roboto/Roboto-Regular.ttf');
}

* {
    font-family: 'Roboto', sans-serif;
}

.col-md-3,
.col-md-6,
.col-xs-12 {
    padding: 0;
}

.close-btn {
    display: none;
    font-size: 30px;
    position: absolute;
    z-index: 2;
    color: #fff;
    right: 20px;
    top: 20px;
}

.overlay {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #000;
    opacity: 0.56;
    width: 100%;
    height: 100%;
}

section {
    height: 90%;
}

.header {
    background-color: #1b1c26;
    box-shadow: 0px 1px 6px 0 rgba(17, 17, 23, 0.4);
    padding: 20px 0;
}

.title {
    color: #fff;
    margin: 0;
    font-size: 18px;
}

.small-text {
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #9b9ec4;
}

.list {
    list-style-type: none;
    padding: 0;
}

.list li {
    margin-bottom: 40px;
}

.link,
.link:hover,
.link:focus {
    color: #6b6e97;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.selected-link {
    color: #719bff;
}

.left-aside .link {
    display: block;
    padding: 20px 0 20px 30px;
}

.selected-link {
    border-left: 4px solid #719bff;
}

.btn-secondary {
    background-color: #363552;
    color: #9b9ec4!important;
}

/* Left side */

.left-aside,
.right-aside {
    height: 100%;
    background-color: #1f2133;
}

.content {
    background-color: #1f2133;
}



.left-aside .header {
    height: 10%;
}

.left-aside .list {
    height: 90%;
    overflow-y: scroll;
}

.left-aside .list li {
    margin: 0;
}

.left-aside .list::-webkit-scrollbar {
    background: #1f2133;
}

.left-aside .list::-webkit-scrollbar-thumb {
    background-color: #49497b;
}



/* Center side */

.center {
    background-color: #292945;
    display: block;
    /* height: 100%; */
    min-height: 100%;
}

.code-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 30px;
}

.code-header .heading {
    float: left;
}

.code-header .code-format {
    float: right;
}

.fn-details {
    color: #fff;
    padding:0 30px;
}

.fn-name {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.code-wrapper {
    font-size: 14px;
}

.heading {
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #fff;
}

.code-container {
    height: 50%;
    border-top: 2px solid #363659;
    border-bottom: 2px solid #363659;
    padding:20px 30px;
}

/* code style */

.code {
    font-weight: bold;
}

.code-line-number {
    color: #70749b;
    padding-right: 20px;
}

.code-type {
    color: #9464dc;
}

.code-var-name,
.code-sign {
    color: #fff;
}

.code-equals {
    color: #ff6f9f;
}

.code-value,
.code-param {
    color: #7ca8ff;
}

.code-obj {
    color: #5ed9c2;
}

.code-method {
    color: #ffdc83;
}


.code-result {
    padding: 5px 20px;
}

.code-result-log {
    color: #fff;
    font-size: 17px;
}

/* right aside */

.right-aside .header {
    padding: 20px;
    height: 20%;
}

.right-aside {
    display: block;
    height: 100%;
}

.search {
    position: relative;
}

.search-input {
    background-color: #2b2a4a;
    border: none;
    height: 40px;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    width: 100%;
    outline: none;
    color: #9b9ec4;
    padding: 20px;
}

.search-placeholder {
    position: absolute;
    top: 10px;
    left: 10%;
    color: #9b9ec4;
}

.search-input:focus {
    border: solid 1px #719bff;
}

.search-input:focus + .search-placeholder {
    display: none;
}

.function {
    padding: 30px;
    background-color: #363553;
    height: 15%;
}

.text {
    color: #9b9ec4;
    font-size: 14px;
    padding-right: 20px;
    font-weight: bold;
    display: inline-block;
    min-width: 85px;
}

.options-list {
    padding: 20px;
    overflow-y: scroll;
    height: 65%;
}

.options-list::-webkit-scrollbar {
    background: #1f2133;
}

.options-list::-webkit-scrollbar-thumb {
    background-color: #49497b;
}

.options-list li {
    border-bottom: 1px solid #2e3043;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.options-list li:last-child {
    border: none;
}

.fn-btn {
    color: #719bff;
    background-color: #1c1d29;
}

.opt-btn {
    color: #9b9ec4;
    background-color: #2b2a4a;
    margin-left: 2x;
}

.opt-btn:hover {
    color: #9b9ec4!important;
}

/* Footer */

.medium-text,
.social-list li a,
.medium-text:hover {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9b9ec4;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 30px;
    height: 10%;
    background-color: #1b1c26;
    box-shadow: 0px 1px 60px 0 rgba(33, 33, 33, 0.5);
}

.social-list {
    list-style-type: none;
}

.social-list li {
    float: left;
    margin-left: 8px;
}



/* Mobile */

.mobile-content {
    background-color: #1f2133;
    padding: 20px;
    box-shadow: 0px 1px 6px 0 rgba(17, 17, 23, 0.4);
    display: none;
}

.mobile-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.mobile-list li {
    padding: 20px 0;
}

.mobile-list li:first-child {
    border-bottom: 1px solid #2e3043;
}

.mobile-list li span {
    color: #719bff;
    padding-right: 20px;
    font-weight: bold;
}

.mobile-list li i {
    color: 9b9ec4;
}

footer .hidden-xs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 30px;
}


/* Responsive */
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
    .code-header .code-format .btn-secondary {
        font-size: 12px !important;
    }
    .right-aside .header{
        height: 25%;
    }
    .right-aside .options-list .text {
        font-size: 13px;
        padding-right: 10px;
        min-width: 30px;
    }
    .right-aside .options-list .btn {
        padding: 6px 12px;        
    }
}
@media (max-width: 767px) {
    .left-aside,
    .right-aside {
        position: absolute;
    }

    .left-aside,
    .right-aside {
        z-index: 3;
        width: 75%;
        display: none;
    }

    .options-list {
        padding: 15px;
    }


    .social-list {
        width: 65px;
        margin: 0 auto;
        display: table;
        padding: 0;
    }

    footer {
        padding: 20px 0;
    }

    footer .visible-xs {
        width: 100%!important;
    }

    footer .medium-text {
        display: block;
        width: 100%;
        text-align: center;
    }
}


@media (max-width: 500px) {
    .code-container {
        /* height: 22%; */
    }
}

@media (max-width: 450px) {
    .code-header .heading {
        float: none;
        width: 100%;
    }

    .code-header .code-format {
        float: none;
        width: 100%;
    }

    .code-header {
        display: block;
        /* padding: 0 15px; */
    }
    footer {
        height: 14%;
    }
}
@media (max-width: 320px) {
    .code-header .code-format .btn-secondary{
        font-size: 11px !important;        
    }
}