<body>
  <section>
    <i class="fas fa-times close-btn"></i>
    <div class="overlay"></div>
    <div class="col-sm-2 col-xs-12 left-aside">
      <div class="header">
        <h3 class="title text-center">
          <img class="icon" src="../../assets/images/icon2.png">
          DatesRepo
        </h3>
      </div>

      <div class="content">
        <ul class="list"*ngIf="!languageList.length">
          <li>
            <a href="#" class="still-loading">loading...</a>
          </li>
        </ul>
        <ul class="list" *ngIf="languageList.length">
          <li *ngFor="let language of languageList">
            <a routerLink="/{{language.Id}}" routerLinkActive="selected-link" class="link" (click)="loadLanguage(language.Id)">{{language.Name}}</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-xs-12 visible-xs mobile-content">
      <ul class="mobile-list">
        <li class="language">
          <span>Javascript</span>
          <i class="fas fa-chevron-down"></i>
        </li>
        <li class="mobile-functions">
          <span>Functions</span>
          <i class="fas fa-chevron-down"></i>
          <i class="fas fa-search pull-right"></i>
        </li>
      </ul>
    </div>

    <div class="col-sm-6 col-xs-12 center">
      <div class="fn-details">
        <h2 class="fn-name">new Date()</h2>
        <p class="fn-description">new Date() creates a new date object with the current date and time.
          You will find more Javascript date functions in the left menu.
        </p>
      </div>

      <div class="code-wrapper">
        <div class="code-header">
          <h5 class="heading">CODE</h5>
          <div class="code-format">
            <span class="small-text">Format:</span>
            <input class="btn btn-secondary" type="date">
            <button class="btn btn-secondary">
              <i class="fas fa-copy"></i>
              Copy</button>
          </div>
        </div>

        <div class="code-container">
          <p class="code-line">
            <span class="code-line-number">1</span>
            <span class="code-line-content">
              <span class="code code-type">var</span>
              <span class="code code-var-name">now</span>
              <span class="code code-equals"> = </span>
              <span class="code code-value">new Date</span>
              <span class="code-sign">();</span>
            </span>
          </p>

          <p class="code-line">
            <span class="code-line-number">2</span>
            <span class="code code-obj">console</span>
            <span class="code-sign">.</span>
            <span class="code code-method">log</span>
            <span class="code-sign">(</span>
            <span class="code code-param">new Date</span>
            <span class="code-sign">());</span>
          </p>
          <p class="code-line">
            <span class="code-line-number">3</span>
            <span class="code-line-content">
              <span class="code code-type">var</span>
              <span class="code code-var-name">now</span>
              <span class="code code-equals"> = </span>
              <span class="code code-value">new Date</span>
              <span class="code-sign">();</span>
            </span>
          </p>

          <p class="code-line">
            <span class="code-line-number">4</span>
            <span class="code code-obj">console</span>
            <span class="code-sign">.</span>
            <span class="code code-method">log</span>
            <span class="code-sign">(</span>
            <span class="code code-param">new Date</span>
            <span class="code-sign">());</span>
          </p>
          <p class="code-line">
            <span class="code-line-number">5</span>
            <span class="code-line-content">
              <span class="code code-type">var</span>
              <span class="code code-var-name">now</span>
              <span class="code code-equals"> = </span>
              <span class="code code-value">new Date</span>
              <span class="code-sign">();</span>
            </span>
          </p>
        </div>

        <div class="code-result">
          <h4 class="heading">RESULT</h4>

          <p class="code-result-log">
            Sun Sep 30 2018 05:12:18 GMT-0500 (hora de verano central)
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-xs-12 right-aside">
      <div class="header">
        <h4 class="heading">FUNCTIONS</h4>
        <div class="search">
          <input class="search-input" type="text">
          <span class="search-placeholder">
            <i class="fas fa-search"></i>
            Search
          </span>
        </div>
      </div>

      <div class="function">
        <span class="text">New Date</span>
        <button class="btn fn-btn">Now</button>
      </div>

      <ul class="list options-list" *ngIf="oneLanguage">
        <li *ngFor="let lang of oneLanguage">
          <span class="text">{{lang.catName}}</span>
          <button *ngFor="let list of lang.funList" class="btn opt-btn">{{list.funName}}</button>
        </li>
      </ul>
    </div>
  </section>

  <footer>
    <div class="hidden-xs">
      <p class="medium-text">© Mohamed Jaafar - 2018</p>
      <div>
        <a class="pull-left medium-text" href="mailto:contact@datesrepo.com">contact@datesrepo.com</a>

        <ul class="social-list pull-right">
          <li>
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fab fa-github"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fab fa-facebook"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="visible-xs">
      <p class="medium-text text-center">© Mohamed Jaafar - 2018</p>

      <ul class="social-list">
        <li>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-facebook"></i>
          </a>
        </li>
      </ul>

      <a class="medium-text" href="mailto:contact@datesrepo.com">contact@datesrepo.com</a>
    </div>
  </footer>
</body>